<h1>Editing task</h1>
you <strong> CAN'T </strong> mass edit 'type', so any changes to this will be useless <br/><br/>
<%= render 'form' %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
